 


	<section class="body-section-home">     
		<div class="body-section-home-inner">
			
				<app-left-side></app-left-side>
				<div class="rightBox">
					<div class="rightBox-inner db">			 			
						<div class="flex-wth">
						
						<app-header></app-header> 

				 				<div class=" mainWrapper login_formM mt-5"> 

					 				<div class=" mainWrapper mt-0">
 
									    <div class="deatilForm">
		   									<p class="w-100 dib font-15 font-bold ehite marginZ tc">Change Password</p>
											 
	   									</div>
										<form [formGroup]="changeform" (ngSubmit)="changepassword(changeform.value)">
									    <div class="deatilForm mt-3">
		   									<label class="w-100 dib font-12 font-bold lightgray marginZ">Old Password </label>
											<input class="font-12 font-bold  background-transparent w-100 dib b--white-70" formControlName="oldpassword" [ngClass]="{'errorclass':changeform.controls['oldpassword'].touched}" type="password" /> 
	   									</div>
									    <div class="deatilForm mt-3">
		   									<label class="w-100 dib font-12 font-bold lightgray marginZ">New Password </label>
											<input class="font-12 font-bold  background-transparent w-100 dib b--white-70" formControlName="newpassword" [ngClass]="{'errorclass':changeform.controls['newpassword'].touched}" type="password" /> 
	   									</div>
									    <div class="deatilForm mt-3">
		   									<label class="w-100 dib font-12 font-bold lightgray marginZ">Confirm Password </label>
											<input class="font-12 font-bold  background-transparent w-100 dib b--white-70" formControlName="confirmpassword" [ngClass]="{'errorclass':changeform.controls['confirmpassword'].touched}" type="password" /> 
	   									</div>
									    
									  <div class="w-100 db mt-3 text-center mb-3">
											 <button  class="w-50 text-center dib common_Button margin-auto" [disabled]="!changeform.valid" >		 
								        		Update
								       		 </button>
										</div>
									   </form>
									</div>
								</div>
							<app-footer></app-footer>
							
						</div>
						</div>
						</div>
					</div>
				</section>
 