
	<section class="body-section-home">     
		<div class="body-section-home-inner">
			
				<app-left-side></app-left-side>
				<div class="rightBox">
					<div class="rightBox-inner db">						
						<div class="flex-wth">
						
						<app-header></app-header>

						<section class="tabs-sec-me">
							<div class="tabs mt-3 pb-2 mb-5">
								<div class="tabs-links pt-2 text-center d-block">
						            <a href="https://www.myexpert11.com/apk/myexpert11.apk" class="d-block"><img src="assets/images/play_store.png" class="height40"></a>
								</div>
								<div class="tabs-links">
									<a routerLink="/my-contests">
										<div class="left_sde sml_is">
											<i class="fas fa-trophy"></i>
											<span>My Contests</span>
										</div>
										<i class="fas fa-chevron-right aero_rig"></i>
									</a>
								</div>
								<div class="tabs-links">
									<a routerLink="/my-account">
										<div class="left_sde sml_is">
											<i class="fas fa-wallet"></i>
											<span>My Profile</span> 
										</div>
										<i class="fas fa-chevron-right aero_rig"></i>
									</a>
								</div>
								<div class="tabs-links">
									<a routerLink="/invite-friends">
										<div class="left_sde sml_is">
											<i class="fas fa-users"></i>
											<span>Invite Friends</span>
										</div>
										<i class="fas fa-chevron-right aero_rig"></i>
									</a>
								</div>
					<!-- 			<div class="tabs-links">
									<a href="my-ranking.html">
										<div class="left_sde sml_is">
											<i class="fas fa-chart-bar"></i>
											<span>My Ranking</span>
										</div>
										<i class="fas fa-chevron-right aero_rig"></i>
									</a>
								</div> --> 
								<div class="tabs-links">
									<a routerLink="/profile">
										<div class="left_sde sml_is">
											<i class="fas fa-user"></i>
											<span>Personal Details</span>
										</div>
										<i class="fas fa-chevron-right aero_rig"></i>
									</a>
								</div>
								<div class="tabs-links">
									<a routerLink="/verify-account">
										<div class="left_sde sml_is">
											<i class="fas fa-edit"></i>
											<span>Account Verification</span>
										</div>
										<i class="fas fa-chevron-right aero_rig"></i>
									</a>
								</div>
								<div class="tabs-links">
									<a (click)="logout()">
										<div class="left_sde sml_is">
											<i class="fa fa-power-off"></i>
											<span>Log out</span>
										</div>
										<i class="fas fa-chevron-right aero_rig"></i>
									</a>
								</div>
							</div>
						</section>
							<app-footer></app-footer>
							
						</div>
						</div>
						</div>
					</div>
				</section>
