
			<div class="leftBox">
				<div class="leftBox-inner">
					<div class="home-container center-align ng-scope" prevent-right-click="">
						<h4 class="font-bold">Welcome To</h4>
						<div class="logo z-depth-3"><img src="/assets/images/logo-white.png" alt=""></div>
						<div class="logo-section">
							<p>Join The Best Community of Fans. Come Play Our Fantasy Cricket.</p>
						</div>
						<p class="home-steps  pt-4">Three Simple Steps</p>
						<ul class="mt-5">
							<li><img src="/assets/images/pick-a-match.png" alt=""> Pick a Match</li>
							<li><img src="/assets/images/build-team.png" alt=""> Build Your Team</li>
							<li><img src="/assets/images/win-contest.png" alt=""> Win Prizes</li>
						</ul>
					 </div>
				</div>
			</div>