<section class="body-section-home">     
<div class="body-section-home-inner">
<app-left-side></app-left-side>
<div class="rightBox">
<div class="rightBox-inner db">						
	<div class="flex-wth">
		<app-header></app-header>
		<section  class="slid_tabs mt-5 mb-5 pb-3"> 
			
		  <div  class="col-sm-12 commonPages"> 
		  
							<div class="row me11_static_mainHeader">
								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain">
									<h5 class="w-100">How to play:-</h5>
									<p>
										Do you watch your favorite sports? If yes, then MyExpert11 is tailor-made for you. It is played by applying your sports abilities and understanding.  All you need to do is to make your own team by selecting players which you feel may perform well in the very game you’re participating. And that’s it! 
									</p>
									<p>
										The good thing is: you will have 100 credits for choosing players for Cricket. And if your selected players play well, you win well. Very well, indeed.
									</p>
								</div>


								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain">
									<h5 class="w-100">5 STEPS OF WINNINGS</h5>
									<span class="font_w600">Select a match</span>
									<p>
										In the first step, you should select any upcoming match
									</p>

									<span class="font_w600">Finalize your MyExpert11 Team</span>
									<p>
										Pick players of your choice. 
									</p>

									<span class="font_w600">Enter a contest</span>
									<p>
										Select the match based on your financial planning.  
									</p>

									<span class="font_w600">Enjoy the Match</span>
									<p>
										Now, sit back and watch your players perform for you.   
									</p>

									<span class="font_w600">Hurray </span>
									<p>
										Once, you have won, then you withdraw your amount through just one verification. Dead easy!!!   
									</p>
								</div>


								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain">
									<h5 class="w-100">CREATE YOUR TEAM</h5>
									<span class="font_w600">Step 1: Select a Match</span>
									<p>
										Select any upcoming match from the list of ongoing and upcoming cricket series and click on the ‘Create Team’ button.
									</p>
									<p>
										Create your MyExpert11 team by picking 11 players as per the following combinations within a budget of 100 credits.
									</p>

									<table class="table table-bordered">
									    <tbody>
									      	<tr>
									        	<td class="td_heading">PLAYER TYPE</td>
									        	<td class="td_heading">MINIMUM</td>
									        	<td class="td_heading">MAXIMUM</td>
									        </tr>
									      	<tr>
									        	<td>WK</td>
									        	<td>1</td>
									        	<td>3</td>
									        	
									      	</tr>
									      	<tr>
									        	<td>BAT</td>
									        	<td>2</td>
									        	<td>6</td>
									        	
									      	</tr>
									      	<tr>
									        	<td>AR</td>
									        	<td>1</td>
									        	<td>6</td>
									        	
									      	</tr>
									      	<tr>
									        	<td>BALL</td>
									        	<td>2</td>
									        	<td>6</td>
									        	
									      	</tr>
									      
									    </tbody>
								  	</table>
								</div>


								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain">
									<span class="font_w600 w-100">Step 2: Make your Team</span>
									<span class="w-100">
										Select players for your MyExpert11 team from all 4 of the categories mentioned below:
									</span>
									<span class="w-100">Wicket-keeper - WK </span>
									<span class="w-100">Batsmen - BAT</span>
									<span class="w-100">Bowlers - BWL</span>
									<span class="w-100">All-rounders - AR</span>
									<span class="w-100">Click 'i' next to the player name and find information about the player.</span>
									<span class="w-100">Sort players as per their teams, credits or points.</span>
								</div>


								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain">
									<span class="w-100">Remember:</span>
									<span class="w-100">Number of players added to your team </span>
									<span class="w-100">Available credits</span>
									<span class="w-100">The deadline for team submission</span>
									
								</div>


								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain">
									<span class="font_w600 w-100">Step 3: Select your MyExpert11 team’s Captain & Vice Captain</span>
									<span class="w-100">
										Select a Captain & Vice Captain for the team.
									</span>

									<p>
										<span class="font_w600">Captain</span> - Gets<span class="font_w600"> 2x </span> points than the other players. So, Select your captain wisely. 
									</p>
									<p>
										<span class="font_w600">Vice-Captain </span> - Gets<span class="font_w600"> 1.5x </span>points than the other players. Again, pick vice-captain wisely.  
									</p>
								</div>


								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain">
									<span class="font_w600 w-100">Step 4: Creating multiple teams</span>
									<p>
										You can create upto 10 teams per match and select to join contests with any of the teams by clicking ‘Create Team. 
									</p>
								</div>


								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain">
									<span class="font_w600 w-100">Managing Your Team </span>
									<p>
										If you want to make any changes in your team, then you may also do so before the deadline. You can also change Captain and vice-captain. Cool, no??? 
									</p>
									<span class="w-100 line_h">
										Select the “Edit Team” button to make changes to your team. 
									</span>
									<span class="w-100 line_h">
										Make sure to pick players who are the most probable in the paying 11.  
									</span>
								</div>



								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain">
									<span class="font_w600 w-100">Key things to remember</span>
									<p>
										Your chosen captain will earn 2 times more than the other players. And the Vice-Captain will earn 1.5 times the points for his performance
									</p>
									<p>
										There will be no point for substitute’s contribution in the match. But, Concussion Substitutes (known in the Cricket Australia Playing Conditions for Domestic Matches) will be given points for any contributions they make in a match governed by the Cricket Australia Playing Conditions for Domestic Matches.

									</p>
									<p>
										In case of any transfer of a real-life player in the intervening period between scheduled updates, such transfer shall not be reflected in the roster of players until the next scheduled update. Please note that while the transferred player will be available for selection in the transferred team's roster of players in a Contest during the intervening period, no points will be attributed to such transferred player in the course of such contest.

									</p>
									<span class="w-100 mt-4 line_h">
										You can check, withdraw or deposit money into your MyExpert11 account anytime by going to the “My Account” link.
									</span>
									<span class="w-100 line_h">
										Account verification is done once only. Thereafter, you can easily withdraw your money. So bank on us!  
									</span>


									<span class="w-100 mt-4 line_h">
										Money in your MyExpert11 account is divided into 3 segments:
									</span>
									<span class="w-100 line_h">
										Deposited: The money that you have not used yet. 
									</span> 
									<span class="w-100 line_h">
										Winnings: The money you have earned from the contests. 
									</span>
									<span class="w-100 line_h">
										Bonus: The money which is given to you. You can use this money, play a league, and make more money out of it. This, however, will have expiry date. *Bonus T&C apply. 
									</span>
								</div>



							</div>
			</div>
		</section>
	</div>
</div>
		
		<app-footer></app-footer>
		
	</div>
</div>
</section>