
	<section class="body-section-home">     
		<div class="body-section-home-inner">
			
				<app-left-side></app-left-side>
				<div class="rightBox">
					<div class="rightBox-inner db">						
						<div class="flex-wth">
						
						<app-header></app-header>

							<section class="tabs-sec-me">
								<div class="tabs mt-3 pb-2 mb-5">
									<div class="tabs-links">
										<a routerLink="/about-us">
											<div class="left_sde sml_is">
												<i class="fas fa-address-book"></i>
												<span>About Us</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/careers">
											<div class="left_sde sml_is">
												<i class="fas fa-address-book"></i>
												<span>Careers</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/rate-reviews"> 
											<div class="left_sde sml_is">
												<i class="fas fa-star"></i>
												<span>Rate and Reviews</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/bounty">
											<div class="left_sde sml_is">
												<i class="fa fa-gift"></i>
												<span>Bounty</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/become-a-partner">
											<div class="left_sde sml_is">
												<i class="fa fa-users"></i>
												<span>Become a partner</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/point-system">
											<div class="left_sde sml_is">
												<i class="fa fa-table"></i>
												<span>Fantasy Cricket Points System</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/how-to-play">
											<div class="left_sde sml_is">
												<i class="fab fa-playstation"></i>
												<span>How to Play</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/promo-offers">
											<div class="left_sde sml_is">
												<i class="fab fa-buromobelexperte"></i>
												<span>Promo Offers</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/quick-support">
											<div class="left_sde sml_is">
												<i class="far fa-life-ring"></i>
												<span>Quick Support</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/community">
											<div class="left_sde sml_is">
												<i class="fas fa-bullhorn"></i>
												<span>MyExpert11 Community</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a  routerLink="/faq">
											<div class="left_sde sml_is">
												<i class="fa fa-question-circle"></i>
												<span>FAQs</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/fairplay">
											<div class="left_sde sml_is">
												<i class="fa fa-tag"></i>
												<span>FairPlay</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/legality">
											<div class="left_sde sml_is">
												<i class="fa fa-gavel"></i>
												<span>Legality</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/privacy-policy">
											<div class="left_sde sml_is">
												<i class="fa fa-user-secret"></i>
												<span>Privacy Policy</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/terms-conditions">
											<div class="left_sde sml_is">
												<i class="fas fa-address-book"></i>
												<span>Terms and Conditions</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/contact-us">
											<div class="left_sde sml_is">
												<i class="fas fa-location-arrow"></i>
												<span>Contact Us</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
									<div class="tabs-links">
										<a routerLink="/blog">
											<div class="left_sde sml_is">
												<i class="fab fa-blogger"></i>
												<span>Blog</span>
											</div>
											<i class="fas fa-chevron-right aero_rig"></i>
										</a>
									</div>
								</div>
							</section>
							<app-footer></app-footer>
							
						</div>
						</div>
						</div>
					</div>
				</section>
