<section class="body-section-home">     
	<div class="body-section-home-inner">
		<app-left-side></app-left-side>
		<div class="rightBox">
			<div class="rightBox-inner db">						
				<div class="flex-wth">
					<app-header></app-header>
					<section  class="slid_tabs mt-5 mb-5 pb-3"> 
						<div  class="col-sm-12 commonPages "> 
						
							<div class="row me11_static_mainHeader">
								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain">
									<h5 class="w-100">Fantasy Cricket Point System</h5>
									<p>
										This is about how your MyExpert11 team earn Fantasy Point.
									</p>

									<div class="row marginZ w-100 point_system_section">
										<button type="button" class="" data-toggle="collapse" data-target="#id_1">
										 	<img src="assets/images/icons/images-1.png">
										 	<span>BATTING</span>
										 	<i class="fa fa-plus plus_iconSection"></i>
										</button>
										<div id="id_1" class="collapse show w-100">
										   <div class="row marginZ point-system-inner">
										   		<table class="table table-bordered">
												    <thead>
												      	<tr>
												        	<th>Action Name</th>
												        	<th>T10</th>
												        	<th>&emsp;&ensp;T20/ 100-Ball </th>
												        	<th>ODI</th>
												        	<th>TEST</th>
												      	</tr>
												    </thead>
												    <tbody>
												      	<tr>
												        	<td>For Each Run</td>
												        	<td>1</td>
												        	<td>1</td>
												        	<td>1</td>
												        	<td>1</td>
												      	</tr>
												      	<tr>
												        	<td>For Each Boundary Bonus</td>
												        	<td>1</td>
												        	<td>1</td>
												        	<td>1</td>
												        	<td>1</td>
												      	</tr>
												      	<tr>
												        	<td>For Each Six Hit Bonus</td>
												        	<td>2</td>
												        	<td>2</td>
												        	<td>2</td>
												        	<td>2</td>
												      	</tr>
												      	<tr>
												        	<td>Double Century Bonus</td>
												        	<td> </td>
												        	<td> </td>
												        	<td>15</td>
												        	<td>13</td>
												      	</tr>
												      	<tr>
												        	<td>150 Bonus</td>
												        	<td> </td>
												        	<td>19</td>
												        	<td>12</td>
												        	<td>10</td>
												      	</tr>
												      	<tr>
												        	<td>Century Bonus</td>
												        	<td>20</td>
												        	<td>13</td>
												        	<td>10</td>
												        	<td>17</td>
												      	</tr>
												      	<tr>
												        	<td>Half Century Bonus</td>
												        	<td>10</td>
												        	<td>7</td>
												        	<td>5</td>
												        	<td>4</td>
												      	</tr>
												      	<tr>
												        	<td>30 Bonus</td>
												        	<td>5</td>
												        	<td>4</td>
												        	<td> </td>
												        	<td> </td>
												      	</tr>
												      	<tr>
												        	<td>Dismissal for a duck (Batsmen, Wicket-Keeper & All-Rounder)</td>
												        	<td>-1</td>
												        	<td>-2</td>
												        	<td>-3</td>
												        	<td></td>
												      	</tr>
												    </tbody>
											  	</table>
										   </div>
										</div>
									</div>


									<div class="row marginZ w-100 point_system_section">
										<button type="button" class="collapsed" data-toggle="collapse" data-target="#id_2">
										 	<img src="assets/images/icons/images-2.png">
										 	<span>BOWLING</span>
										 	<i class="fa fa-plus plus_iconSection"></i>
										</button>
										<div id="id_2" class="collapse  w-100">
										   <div class="row marginZ point-system-inner">
										   		<table class="table table-bordered">
												    <thead>
												      	<tr>
												        	<th>Action Name</th>
												        	<th>T10</th>
												        	<th>&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;T20/100-Ball </th>
												        	<th>ODI</th>
												        	<th>TEST</th>
												      	</tr>
												    </thead>
												    <tbody>
												      	<tr>
												        	<td>Wicket Except Run Out</td>
												        	<td>20</td>
												        	<td>22</td>
												        	<td>26</td>
												        	<td>24</td>
												      	</tr>
												      	<tr>
												        	<td>3 wicket haul Bonus</td>
												        	<td>9</td>
												        	<td>7</td>
												        	<td>5</td>
												        	<td>4</td>
												      	</tr>
												      	<tr>
												        	<td>4 wicket haul Bonus</td>
												        	<td>14</td>
												        	<td>13</td>
												        	<td>9</td>
												        	<td>6</td>
												      	</tr>
												      	<tr>
												        	<td>5 wicket haul Bonus</td>
												        	<td>18</td>
												        	<td>19</td>
												        	<td>12</td>
												        	<td>10</td>
												      	</tr>
														  <tr>
															<td>Bonus(LBW/Bowled)</td>
															<td>6</td>
															<td>8</td>
															<td>10</td>
															<td>12</td>
														</tr>
												      	<tr>
												        	<td>5+</td>
												        	<td>18</td>
												        	<td>25</td>
												        	<td>15</td>
												        	<td>12</td>
												      	</tr>
												      	<tr>
												        	<td>Maiden over</td>
												        	<td>12</td>
												        	<td>6</td>
												        	<td>3</td>
												        	<td>2</td>
												      	</tr>
												    </tbody>
											  	</table>
										   </div>
										</div>
									</div>



									<div class="row marginZ w-100 point_system_section">
										<button type="button" class="collapsed" data-toggle="collapse" data-target="#id_3">
										 	<img src="assets/images/icons/images-3.png">
										 	<span>FIELDING</span>
										 	<i class="fa fa-plus plus_iconSection"></i>
										</button>
										<div id="id_3" class="collapse  w-100">
										   <div class="row marginZ point-system-inner">
										   		<table class="table table-bordered">
												    <thead>
												      	<tr>
												        	<th>Action Name</th>
												        	<th>T10</th>
												        	<th>&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;T20/100-Ball </th>
												        	<th>ODI</th>
												        	<th>TEST</th>
												      	</tr>
												    </thead>
												    <tbody>
												      	<tr>
												        	<td>Catch</td>
												        	<td>6</td>
												        	<td>8</td>
												        	<td>10</td>
												        	<td>12</td>
												      	</tr>
														  <tr>
												        	<td>Run-out (Thrower, catcher)</td>
												        	<td>12/8</td>
												        	<td>13/9</td>
												        	<td>15/11</td>
												        	<td>14/10</td>
												      	</tr>
												      	<tr>
												        	<td>Stumping/Run-out Direct</td>
												        	<td>6</td>
												        	<td>8</td>
												        	<td>10</td>
												        	<td>12</td>
												      	</tr>
												      
												    </tbody>
											  	</table>
										   </div>
										</div>
									</div>


									<div class="row marginZ w-100 point_system_section">
										<button type="button" class="collapsed" data-toggle="collapse" data-target="#id_4">
										 	<img src="assets/images/icons/images-4.png">
										 	<span>OTHERS</span>
										 	<i class="fa fa-plus plus_iconSection"></i>
										</button>
										<div id="id_4" class="collapse w-100">
										   <div class="row marginZ point-system-inner">
										   		<table class="table table-bordered">
												    <thead>
												      	<tr>
												        	<th>Action Name</th>
												        	<th>T10</th>
												        	<th>&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;T20/100-Ball/T10 </th>
												        	<th>ODI</th>
												        	<th>TEST</th>
												      	</tr>
												    </thead>
												    <tbody>
												      	<tr>
												        	<td>Captain</td>
												        	<td>2x</td>
												        	<td>2x</td>
												        	<td>2x</td>
												        	<td>2x</td>
												      	</tr>
												      	<tr>
												        	<td>Voice Captain</td>
												        	<td>1.5x</td>
												        	<td>1.5x</td>
												        	<td>1.5x</td>
												        	<td>1.5x</td>
												      	</tr>
												      	<tr>
												        	<td>In playing 11</td>
												        	<td>2</td>
												        	<td>2</td>
												        	<td>2</td>
												        	<td>2</td>
												      	</tr>
												    </tbody>
											  	</table>
										   </div>
										</div>
									</div>


									<div class="row marginZ w-100 point_system_section">
										<button type="button" class="collapsed" data-toggle="collapse" data-target="#id_5">
										 	<!-- <img src="assets/images/icons/images-5.png"> -->
										 	<span>ECONOMY RATE T10(Min 1 Over)</span>
										 	<i class="fa fa-plus plus_iconSection"></i>
										</button>
										<div id="id_5" class="collapse w-100">
										   <div class="row marginZ point-system-inner">
										   		<table class="table table-bordered">
												    <thead>
												      	<tr>
												        	<th>Action Name</th>
												        	<th>Points</th>
												      	</tr>
												    </thead>
												    <tbody>
												      	<tr>
												        	<td>Below 7 runs per over</td>
												        	<td>6</td>
												      	</tr>
												      	<tr>
												        	<td>Between 7-7.99 runs per over</td>
												        	<td>4</td>
												      	</tr>
												      	<tr>
												        	<td>Between 8-9 runs per over 2</td>
												        	<td>2</td>
												      	</tr>
												      	<tr>
												        	<td>Between 14-15 runs per over</td>
												        	<td>-2</td>
												      	</tr>
												      	<tr>
												        	<td>Between 15.01-16 runs per over</td>
												        	<td>-4</td>
												      	</tr>
												      	<tr>
												        	<td>Above 16 runs per over</td>
												        	<td>-6</td>
												      	</tr>
												      	 
												    </tbody>
											  	</table>
										   </div>
										</div>
									</div>

									<div class="row marginZ w-100 point_system_section">
										<button type="button" class="collapsed" data-toggle="collapse" data-target="#id_6">
										 	<!-- <img src="assets/images/icons/images-5.png"> -->
										 	<span>STRIKE RATE T10(EXCEPT BOWLER,Min 5 Balls)</span>
										 	<i class="fa fa-plus plus_iconSection"></i>
										</button>
										<div id="id_6" class="collapse w-100">
										   <div class="row marginZ point-system-inner">
										   		<table class="table table-bordered">
												    <thead>
												      	<tr>
												        	<th>Action Name</th>
												        	<th>Points</th>
												      	</tr>
												    </thead>
												    <tbody>
												      	<tr>
												        	<td>Over 190 runs per 100 balls</td>
												        	<td>6</td>
												      	</tr>
												      	<tr>
												        	<td>Between 170.01-190 runs per 100 balls</td>
												        	<td>4</td>
												      	</tr>
												      	<tr>
												        	<td>Between 150-170 runs per 100 balls</td>
												        	<td>2</td>
												      	</tr>
												      	<tr>
												        	<td>Between 70-80 runs per 100 balls</td>
												        	<td>-2</td>
												      	</tr>
												      	<tr>
												        	<td>Between 60-69.99 runs per 100 balls</td>
												        	<td>-4</td>
												      	</tr>
												      	<tr>
												        	<td>Below 60 runs per 100 balls</td>
												        	<td>-6</td>
												      	</tr>
												      	 
												    </tbody>
											  	</table>
										   </div>
										</div>
									</div>

									<div class="row marginZ w-100 point_system_section">
										<button type="button" class="collapsed" data-toggle="collapse" data-target="#id_7">
										 	<!-- <img src="assets/images/icons/images-5.png"> -->
										 	<span>ECONOMY RATE T20/100-Ball(Min 2 over)</span>
										 	<i class="fa fa-plus plus_iconSection"></i>
										</button>
										<div id="id_7" class="collapse w-100">
										   <div class="row marginZ point-system-inner">
										   		<table class="table table-bordered">
												    <thead>
												      	<tr>
												        	<th>Action Name</th>
												        	<th>Points</th>
												      	</tr>
												    </thead>
												    <tbody>
												      	<tr>
												        	<td>Below 5 runs per over</td>
												        	<td>6</td>
												      	</tr>
												      	<tr>
												        	<td>Between 5-5.99 runs per over</td>
												        	<td>4</td>
												      	</tr>
												      	<tr>
												        	<td>Between 6-7 runs per over</td>
												        	<td>2</td>
												      	</tr>
												      	<tr>
												        	<td>Between 10-11 runs per over</td>
												        	<td>-2</td>
												      	</tr>
												      	<tr>
												        	<td>Between 11.01-12 runs per over</td>
												        	<td>-4</td>
												      	</tr>
												      	<tr>
												        	<td>Above 12 runs per over</td>
												        	<td>-6</td>
												      	</tr>
												      	 
												    </tbody>
											  	</table>
										   </div>
										</div>
									</div>


									<div class="row marginZ w-100 point_system_section">
										<button type="button" class="collapsed" data-toggle="collapse" data-target="#id_8">
										 	<!-- <img src="assets/images/icons/images-5.png"> -->
										 	<span>STRIKE RATE T20/100-Ball(EXCEPT BOWLER,Min 10 balls)</span>
										 	<i class="fa fa-plus plus_iconSection"></i>
										</button>
										<div id="id_8" class="collapse w-100">
										   <div class="row marginZ point-system-inner">
											<table class="table table-bordered">
												<thead>
													  <tr>
														<th>Action Name</th>
														<th>Points</th>
													  </tr>
												</thead>
												<tbody>
													  <tr>
														<td>Above 170 runs per 100 balls</td>
														<td>6</td>
													  </tr>
													  <tr>
														<td>Between 150.01-170 runs per 100 balls</td>
														<td>4</td>
													  </tr>
													  <tr>
														<td>Between 130-150 runs per 100 balls</td>
														<td>2</td>
													  </tr>
													  <tr>
														<td>Between 60-70 runs per 100 balls</td>
														<td>-2</td>
													  </tr>
													  <tr>
														<td>Between 50-59.99 runs per 100 balls</td>
														<td>-4</td>
													  </tr>
													  <tr>
														<td>Below 50 runs per 100 balls</td>
														<td>-6</td>
													  </tr>
													   
												</tbody>
											  </table>
										   </div>
										</div>
									</div>

									<div class="row marginZ w-100 point_system_section">
										<button type="button" class="collapsed" data-toggle="collapse" data-target="#id_9">
										 	<!-- <img src="assets/images/icons/images-5.png"> -->
										 	<span>ECONOMY RATE ODI(Min 5 over)</span>
										 	<i class="fa fa-plus plus_iconSection"></i>
										</button>
										<div id="id_9" class="collapse w-100">
										   <div class="row marginZ point-system-inner">
										   		<table class="table table-bordered">
												    <thead>
												      	<tr>
												        	<th>Action Name</th>
												        	<th>Points</th>
												      	</tr>
												    </thead>
												    <tbody>
												      	<tr>
												        	<td>Below 2.5 runs per over</td>
												        	<td>6</td>
												      	</tr>
												      	<tr>
												        	<td>Between 2.5-3.49 runs per over</td>
												        	<td>4</td>
												      	</tr>
												      	<tr>
												        	<td>Between 3.5-4.5 runs per over</td>
												        	<td>2</td>
												      	</tr>
												      	<tr>
												        	<td>Between 7-8 runs per over</td>
												        	<td>-2</td>
												      	</tr>
												      	<tr>
												        	<td>Between 8.01-9 runs per over</td>
												        	<td>-4</td>
												      	</tr>
												      	<tr>
												        	<td>Above 9 runs per over</td>
												        	<td>-6</td>
												      	</tr>
												      	 
												    </tbody>
											  	</table>
										   </div>
										</div>
									</div>

									<div class="row marginZ w-100 point_system_section">
										<button type="button" class="collapsed" data-toggle="collapse" data-target="#id_10">
										 	<!-- <img src="assets/images/icons/images-5.png"> -->
										 	<span>STRIKE RATE ODI(EXCEPT BOWLER,Min 20 balls)</span>
										 	<i class="fa fa-plus plus_iconSection"></i>
										</button>
										<div id="id_10" class="collapse w-100">
										   <div class="row marginZ point-system-inner">
											<table class="table table-bordered">
												<thead>
													  <tr>
														<th>Action Name</th>
														<th>Points</th>
													  </tr>
												</thead>
												<tbody>
													  <tr>
														<td>Above 140 runs per 100 balls</td>
														<td>6</td>
													  </tr>
													  <tr>
														<td>Between 120.01-140 runs per 100 balls</td>
														<td>4</td>
													  </tr>
													  <tr>
														<td>Between 100-120 runs per 100 balls</td>
														<td>2</td>
													  </tr>
													  <tr>
														<td>Between 40-50 runs per 100 balls</td>
														<td>-2</td>
													  </tr>
													  <tr>
														<td>Between 30-39.99 runs per 100 balls</td>
														<td>-4</td>
													  </tr>
													  <tr>
														<td>Below 30 runs per 100 balls</td>
														<td>-6</td>
													  </tr>
													   
												</tbody>
											  </table>
										   </div>
										</div>
									</div>


								</div>


								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain">
									<h5 class="w-100">Key things to remember</h5>
									<p>
										Your chosen captain will earn 2 times more than the other players. And the Vice-Captain will earn 1.5 times the points for his performance.
									</p>
									<p>
										There will be no point for substitute’s contribution in the match. But, Concussion Substitutes (known in the Cricket Australia Playing Conditions for Domestic Matches) will be given points for any contributions they make in a match governed by the Cricket Australia Playing Conditions for Domestic Matches.
									</p>
									<p>
										In case of any transfer of a real-life player in the intervening period between scheduled updates, such transfer shall not be reflected in the roster of players until the next scheduled update. Please note that while the transferred player will be available for selection in the transferred team's roster of players in a Contest during the intervening period, no points will be attributed to such transferred player in the course of such Contest.
									</p>
								</div>

							</div>
						</div>
					</section>
				</div>
			</div>
			<app-footer></app-footer>
		</div>
	</div>
</section>
