<section class="body-section-home">     
<div class="body-section-home-inner">
<app-left-side></app-left-side>
<div class="rightBox">
<div class="rightBox-inner db">						
	<div class="flex-wth">


		<app-header></app-header>

		<section  class="slid_tabs mt-5 mb-5 pb-3"> 
			
		  <div  class="col-sm-12 commonPages">  
				<!-- <h3 >ABOUT US</h3>  -->
				<h5 ><span class="theme-color">BLOG</span></h5> 
			</div>
	 
		</section>
	</div>
</div>
		
		<app-footer></app-footer>
		
	</div>
</div>
</section>