.rightBox{
	min-width: 450px;
	max-width: 450px;
}

.leftBox-inner{
    width: calc(100% - 450px);
 }

 .captchaContr{
	margin-top: 2%;
    margin-left: 6%;
 }

 #createTeamPopUp{
	height: max-content;
    background-color: white;
 }