.h5, h5 { 
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 10px 0px;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #ff5722;
}