<section class="body-section-home">     
<div class="body-section-home-inner">
<app-left-side></app-left-side>
<div class="rightBox">
<div class="rightBox-inner db">						
	<div class="flex-wth">
		<app-header></app-header>
		<section  class="slid_tabs mt-5 mb-5 pb-3"> 
			
		  <div  class="col-sm-12 commonPages"> 
		  
							<div class="row me11_static_mainHeader"> 
 
								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain">
									<h5 class="w-100">The more you refer, the bigger your bonus!</h5>
									<span class="font_w600">STEP 01</span>
									<p>
										Verify your email & phone number.
									</p> 
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain"> 
									<span class="font_w600">STEP 02</span>
									<p>
										Share your invite code with your friends & family.
									</p> 
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain"> 
									<span class="font_w600">STEP 03</span>
									<p>Ensure that they download the app and made their 1st deposit.
									</p> 
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain"> 
									<span class="font_w600">STEP 04</span>
									<p>Get a bonus of <i class="fas fa-rupee-sign"></i> 25 on every referral download the app and <i class="fas fa-rupee-sign"></i> 26 on 
their 1st Deposit.</p> 
								 
									<p><strong> Means:</strong> You will get  <i class="fas fa-rupee-sign"></i> 51/- cash bonus if your friend complete the process of STEP 03.
									</p> 
								</div>


								


							</div>
			</div>
		</section>
	</div>
</div>
		
		<app-footer></app-footer>
		
	</div>
</div>
</section>