
	<section class="body-section-home">     
		<div class="body-section-home-inner">
			
				<app-left-side></app-left-side>
				<div class="rightBox">
					<div class="rightBox-inner db">						
						<div class="flex-wth">
							<header class="main_header" id="header1">
								<div class="mobile_nav">
						            <div class="main_moB" id="fixHead">
									 	<div class="logo_Top_heD">
							                <a>
							                	<h3 class="mobLogo">
							                		<img src="assets/images/me11.png">
							                	</h3>
							                </a>
						           		</div>
    									<!-- <a class="notificationbell" routerLink="/notifications">  -->
						       				<!-- <img src="assets/images/bell.png">  -->
						                <!-- </a>  -->

									</div>
						        </div>
							</header>

							<section  class="slid_tabs mt-5"> 
								<div id="demo" class="carousel slide slider-main" data-ride="carousel" data-interval="5000">
 
									  <ul class="carousel-indicators" *ngIf="banners?.length>0">
										<li data-target="#demo" *ngFor="let banners of banners; let geti=index;" [attr.data-slide-to]="geti" [ngClass]="{'active' : geti === 0 }"></li>
									 </ul> 
									  <div class="carousel-inner" *ngIf="banners?.length>0">
									   
									    <div class="carousel-item"  [ngClass]="{'active': i === 0 }" *ngFor="let banners of banners; let i=index;">
									      <a href="{{banners.url}}"><img [attr.src]="banners.image" alt="img" class="img-fluid"></a>
									    </div>
									   
									  </div>
									  
									  
									 <!--
										 <ul class="carousel-indicators">
										   <li data-target="#demo" data-slide-to="0" class="active"></li>
										   <li data-target="#demo" data-slide-to="1"></li>
										   <li data-target="#demo" data-slide-to="2"></li>
										   <li data-target="#demo" data-slide-to="3"></li>
										   <li data-target="#demo" data-slide-to="4"></li>
										 </ul> 

										 <div class="carousel-inner">
										   <div class="carousel-item active">
											 <a><img src="assets/images/banner5.png" alt="img" class="img-fluid"></a>
										   </div>
										   <div class="carousel-item">
											 <a><img src="assets/images/banner4.jpg" alt="img" class="img-fluid"></a>
										   </div>
										   <div class="carousel-item">
											 <a (click)="rewardsfun()" ><img src="assets/images/banner1.jpg" alt="img" class="img-fluid"></a>
										   </div>
										   <div class="carousel-item">
											 <a  routerLink="/my-account"><img src="assets/images/banner2.jpg" alt="img" class="img-fluid"></a>
										   </div>
										   <div class="carousel-item">
											 <a routerLink="/invite-friends"><img src="assets/images/banner3.jpg" alt="img" class="img-fluid"></a>
										   </div>
										 </div>-->
									  
									  
									  <!-- <h6 class="pl-3 pickAllMa d-flex justify-content-between"><span>Select a match</span>  -->
									  <!-- <span (click)="seriessearch()" class="themecolor font_11 filtertal">Filter By Series <i class="fa fa-chevron-down"></i></span> -->
									
									  <!-- </h6> -->
									   
									</div>
									<div id="sticker" class="main">
									    <div id="sidebar" class="sidebar">
									        <div class="sidebar__inner">
											         <div class="marginZ header_tb_sect menu">  
													<ul class="nav nav-tabs navtabs" role="tablist">
														    <li class="nav-item flex-fill">
														      	<a class="nav-link active bdr_rdS_1" data-toggle="tab" href="#upcoming">Upcoming</a>
														    </li>
														    <li class="nav-item flex-fill">
														     	 <a class="nav-link" data-toggle="tab" href="#live">Live</a>
														    </li>
														    <li class="nav-item flex-fill">
														      	<a class="nav-link bdr_rds_2" data-toggle="tab" href="#complete">Results</a>
														    </li>
														 </ul> 
													</div>
												</div>
											</div>
										</div>			

										<div class="inner_legue_main">
											<div class="tab_details_mn">
												<div class="tab-content">
													<div id="upcoming" class="tab-pane active" *ngIf="upcomingmatches?.length>0">
														<a class="flag_leuge_iNNM" *ngFor="let upcoming of upcomingmatches"style="position: relative;">
															<div class="league_d_MAin "  (click)="redirecttochallenge(upcoming.matchkey)" >
																<div class="flag_dS">
																	<img class="img-fluid" src="{{upcoming.team1logo}}">
																	<p class="text-center">{{upcoming.team1name}}</p>
																</div>
																<div class="league_d_MAin_cnt flex-fill text-center">
																<div class="team_name">
																	<span><span class="blinking"  *ngIf="upcoming.playingstatus == '1'"></span>{{upcoming.seriesname}}</span>
																	<span class="themecolor">{{upcoming.vanue}}</span>
																</div>
																<div class="mid_shape"><p class="diamond"><span class="vss">vs</span></p></div>
																	<!-- <p><span><i _ngcontent-c4="" class="far fa-clock" style="font-size: 13px;"></i>&nbsp; <countdown-timer [end]="upcoming.time_start"></countdown-timer></span></p> -->
																	<p><span><countdown-timer [end]="upcoming.time_start"></countdown-timer></span></p>
																</div>
																<div class="flag_dS">
																	<img class="img-fluid" src="{{upcoming.team2logo}}">
																	<p class="text-center">{{upcoming.team2name}}</p>
																</div>
															</div>
															<div *ngIf="upcoming.launch_status == 'pending'" class="disabledmatch">
																<div class="fullCon" (click)="nodatarightnow()">
																</div>
															</div>
														</a>
													</div>
													<div id="upcoming" class="tab-pane active" *ngIf="upcomingmatches?.length==0">
														<p>No Matches Available Right Now!</p>
													</div> 
													<div id="live" class="tab-pane" *ngIf="livematches?.length>0">
														<a class="flag_leuge_iNNM" *ngFor="let upcoming of livematches" (click)="redirecttomychallenge(upcoming.matchkey)">
															<div class="league_d_MAin ">
																<div class="flag_dS">
																	<img class="img-fluid" src="{{upcoming.team1logo}}">
																	<p class="text-center">{{upcoming.team1name}}</p>
																</div>
																<div class="league_d_MAin_cnt flex-fill text-center">
																<div class="team_name">
																	<span>{{upcoming.seriesname}}</span>
																	<span class="themecolor">{{upcoming.vanue}}</span>
																</div>
																<div class="mid_shape"><p class="diamond"><span class="vss">vs</span></p></div>
																 
																
																	<p><span style="color: #4982ff;text-transform: capitalize;">{{upcoming.winnerstatus}}</span></p>
																</div>
																<div class="flag_dS">
																	<img class="img-fluid" src="{{upcoming.team2logo}}">
																	<p class="text-center">{{upcoming.team2name}}</p>
																</div>
															</div>
														</a>
													</div>
													<div id="live" class="tab-pane" *ngIf="livematches?.length==0">
														<p>No Live Matches Available Right Now!</p>
													</div> 
													<div id="complete" class="tab-pane" *ngIf="completedmatches?.length>0">
														<a class="flag_leuge_iNNM" *ngFor="let upcoming of completedmatches" (click)="redirecttomychallenge(upcoming.matchkey)">
															<div class="league_d_MAin ">
																<div class="flag_dS">
																	<img class="img-fluid" src="{{upcoming.team1logo}}">
																	<p class="text-center">{{upcoming.team1name}}</p>
																</div>
																<div class="league_d_MAin_cnt flex-fill text-center">
																<div class="team_name">
																	<span>{{upcoming.seriesname}}</span>
																	<span class="themecolor">{{upcoming.vanue}}</span>
																</div>
																<div class="mid_shape"><p class="diamond"><span class="vss">vs</span></p></div>
																	<p ><span class="green-color">Completed</span></p>
																</div>
																<div class="flag_dS">
																	<img class="img-fluid" src="{{upcoming.team2logo}}">
																	<p class="text-center">{{upcoming.team2name}}</p>
																</div>
															</div>
														</a>
													</div>
													<div id="complete" class="tab-pane" *ngIf="completedmatches?.length==0">
														<p>No Completed Matches Available Right Now!</p>
													</div> 
													 
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
							<div id="seriessearch" class="bottom-sheet bottomSheet_1602f">
							    <div class="bg-overlay bg-overlay--fade-in"></div>
							    <div class="bottom-sheet-container bottom-sheet-container--swipe-in" style="height: 100%;">
							        <div class="tourSelector_b2afc">
							            <div class="spaceAround_253f8">
							                <label class="title_86238">All Series</label>
							                <div class="reset_eedb3">
							                    <button class="btn btn--flat" (click)="resetsearch()">
							                        <div class="align-center">Close</div>
							                    </button>
							                </div> 
							            </div>
							            <div class="filterseriescant">
							                <div class="spaceAround_253f8" *ngFor="let allseriesmatch of allseriesmatch" > 
							                    <label class="label_0b4dd">{{allseriesmatch.name}}</label>
							                    <div class="check-box">
							                    	<input id="series1{{allseriesmatch.id}}" [(ngModel)]="matchFilterOption" value="{{allseriesmatch.name}}" type="radio" class="hidden filled-in" name="filterseries"> 
							                        <label for="series1{{allseriesmatch.id}}" class="check-box--unselected mt-2 mb-0"> 
												 	</label> 
							                    </div>
							                </div> 
							            </div>
							        </div>
							        <div class="footer_2f137">
							            <button class="btn btn--raised btn--white" (click)="matchsort(matchFilterOption)">
							                <div class="align-center">APPLY</div>
							            </button>
							        </div>
							    </div>
							</div>
							<app-footer></app-footer>
							
						</div>
					</div>
				</section>

 

<div id="check_valid_for_join" class="modal fade my_team_view " role="dialog">
    <div class="modal-dialog modaldialog">
			<div  id="createTeamPopUp"> 
 
				<h3 class="popupTitle">Please fill details first </h3> 
			<div class="w-100 margin-auto popupInner pb-0">
			    <div class="w-100">
			        <div class="w-100 db center"> 
					<div class="email_password" *ngIf="fulluserdata.team== '' || fulluserdata.team == 'undefined'">
						<label class="w-100 dib font-12 font-bold  marginZ">Team Name </label>
						<input class="font-12 font-bold background-transparent w-100 dib b--white-70"  id="Text2" name="TeamName" placeholder="Team Name" type="text" maxlength="30" minlength="3"  [(ngModel)]="varif.team"  value="{{ fulluserdata.team }}" [ngClass]="{'errorclass' : (validteamname == false)}"/>  
					</div>   
		            <div class="email_password mt-3" >
					    <label class="w-100 dib font-12 font-bold  marginZ">Select Country </label> 
					    <select class="font-12 font-bold  background-transparent w-100 dib"  name="country" [(ngModel)]="varif.country"  >
					        <option value="Afghanistan">Afghanistan</option> 
					        <option value="Australia">Australia</option> 
					        <option value="Bangladesh">Bangladesh</option> 
					        <option value="Canada">Canada</option>  
					        <option value="India" selected>India</option> 
					        <option value="Pakistan">Pakistan</option> 
					        <option value="Srilanka">Srilanka</option> 
					        <option value="South Africa">South Africa</option> 
					        <option value="United Kingdom">United Kingdom</option> 
					        <option value="United States">United States</option> 
					    </select>
					</div>  
		            <div class="email_password mt-3" *ngIf="varif.country == 'India'">
					    <label class="w-100 dib font-12 font-bold  marginZ">State of Residence </label> 
					    <select class="font-12 font-bold  background-transparent w-100 dib"  name="state" [(ngModel)]="varif.state"  >
					        <option value="" selected>Select State</option>
					        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
					        <option value="Andhra Pradesh">Andhra Pradesh</option>
					        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
					        <!-- <option value="Assam">Assam</option> -->
					        <option value="Bihar">Bihar</option>
					        <option value="Chandigarh">Chandigarh</option>
					        <option value="Chhattisgarh">Chhattisgarh</option>
					        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
					        <option value="Daman and Diu">Daman and Diu</option>
					        <option value="Delhi">Delhi</option>
					        <option value="Goa">Goa</option>
					        <option value="Gujarat">Gujarat</option>
					        <option value="Haryana">Haryana</option>
					        <option value="Himachal Pradesh">Himachal Pradesh</option>
					        <option value="Jammu & Kashmir">Jammu & Kashmir</option>
					        <option value="Jharkhand">Jharkhand</option>
					        <option value="Karnataka">Karnataka</option>
					        <option value="Kerala">Kerala</option>
					        <option value="Lakshadweep">Lakshadweep</option>
					        <option value="Madhya Pradesh">Madhya Pradesh</option>
					        <option value="Maharashtra">Maharashtra</option>
					        <option value="Manipur">Manipur</option>
					        <option value="Meghalaya">Meghalaya</option>
					        <option value="Mizoram">Mizoram</option>
					        <!-- <option value="Nagaland">Nagaland</option> -->
					        <!-- <option value="Orissa">Orissa</option> -->
					        <option value="Pondicherry">Pondicherry</option>
					        <option value="Punjab">Punjab</option>
					        <option value="Rajasthan">Rajasthan</option>
					        <!-- <option value="Sikkim">Sikkim</option> -->
					        <option value="Tamil Nadu">Tamil Nadu</option>
					        <!-- <option value="Telangana">Telangana</option> -->
					        <option value="Tripura">Tripura</option>
					        <option value="Uttar Pradesh">Uttar Pradesh</option>
					        <option value="Uttarakhand">Uttarakhand</option>
					        <option value="West Bengal">West Bengal</option>
					    </select>
					</div>  
					<div class="email_password mt-3 row m-0" >
					    <div class="col-xs-4 padding5 deatilForm mb-3" *ngIf="fulluserdata.DayOfBirth== '' || fulluserdata.DayOfBirth == 'undefined'">
					        <label for="DayOfBirth" class="w-100 dib font-12 font-bold  marginZ">Date Of birth</label>
					        <select required="required" class=" background-transparent w-100  color-black font-12 "   id="Sel_SelectCountry"  [(ngModel)]="varif.DayOfBirth" name="DayOfBirth">
					            <option value="">Date</option>
					            <option value="01">1</option>
					            <option value="02">2</option>
					            <option value="03">3</option>
					            <option value="04">4</option>
					            <option value="05">5</option>
					            <option value="06">6</option>
					            <option value="07">7</option>
					            <option value="08">8</option>
					            <option value="09">9</option>
					            <option value="10">10</option>
					            <option value="11">11</option>
					            <option value="12">12</option>
					            <option value="13">13</option>
					            <option value="14">14</option>
					            <option value="15">15</option>
					            <option value="16">16</option>
					            <option value="17">17</option>
					            <option value="18">18</option>
					            <option value="19">19</option>
					            <option value="20">20</option>
					            <option value="21">21</option>
					            <option value="22">22</option>
					            <option value="23">23</option>
					            <option value="24">24</option>
					            <option value="25">25</option>
					            <option value="26">26</option>
					            <option value="27">27</option>
					            <option value="28">28</option>
					            <option value="29">29</option>
					            <option value="30">30</option>
					            <option value="31">31</option>
					        </select>
					    </div>
					    <div class="col-xs-4 padding5 deatilForm mb-3" *ngIf="fulluserdata.MonthOfBirth== '' || fulluserdata.MonthOfBirth == 'undefined'">
					        <label for="MonthOfBirth" class="w-100 dib font-12 font-bold  marginZ">Month</label>
					        <select required="required" class="w-100 background-transparent  color-black font-12 " id="Sel_SelectCountry1"  [(ngModel)]="varif.MonthOfBirth" name="MonthOfBirth">
					            <option value="">Month</option>
					            <option value="01">Jan</option>
					            <option value="02">Feb</option>
					            <option value="03">Mar</option>
					            <option value="04">Apr</option>
					            <option value="05">May</option>
					            <option value="06">June</option>
					            <option value="07">July</option>
					            <option value="08">Aug</option>
					            <option value="09">Sep</option>
					            <option value="10">Oct</option>
					            <option value="11">Nov</option>
					            <option value="12">Dec</option>
					        </select>
					    </div>
					    <div class="col-xs-4 padding5 deatilForm mb-3 mr-0" *ngIf="fulluserdata.YearOfBirth== '' || fulluserdata.YearOfBirth == 'undefined'">
					        <label for="YearOfBirth" class="w-100 dib font-12 font-bold  marginZ">Year</label>
					        <select required="required" class="w-100 background-transparent color-black font-12 "  id="Sel_SelectCountry2" name="YearOfBirth"  [(ngModel)]="varif.YearOfBirth" >
					            <option value="">Year</option>
					            <option value="2000">2000</option>
					            <option value="1999">1999</option>
					            <option value="1998">1998</option>
					            <option value="1997">1997</option>
					            <option value="1996">1996</option>
					            <option value="1995">1995</option>
					            <option value="1994">1994</option>
					            <option value="1993">1993</option>
					            <option value="1992">1992</option>
					            <option value="1991">1991</option>
					            <option value="1990">1990</option>
					            <option value="1989">1989</option>
					            <option value="1988">1988</option>
					            <option value="1987">1987</option>
					            <option value="1986">1986</option>
					            <option value="1985">1985</option>
					            <option value="1984">1984</option>
					            <option value="1983">1983</option>
					            <option value="1982">1982</option>
					            <option value="1981">1981</option>
					            <option value="1980">1980</option>
					            <option value="1979">1979</option>
					            <option value="1978">1978</option>
					            <option value="1977">1977</option>
					            <option value="1976">1976</option>
					            <option value="1975">1975</option>
					            <option value="1974">1974</option>
					            <option value="1973">1973</option>
					            <option value="1972">1972</option>
					            <option value="1971">1971</option>
					            <option value="1970">1970</option>
					            <option value="1969">1969</option>
					            <option value="1968">1968</option>
					            <option value="1967">1967</option>
					            <option value="1966">1966</option>
					            <option value="1965">1965</option>
					            <option value="1964">1964</option>
					            <option value="1963">1963</option>
					            <option value="1962">1962</option>
					            <option value="1961">1961</option>
					            <option value="1960">1960</option>
					            <option value="1959">1959</option>
					            <option value="1958">1958</option>
					        </select>
					        <span class="field-validation-valid" data-valmsg-for="YearOfBirth" data-valmsg-replace="true"></span>
					    </div>
					</div>
			            <div class="w-100 flex justify-between items-center mt-2">
			            	<ul class="addButon w-100">
							    <li  class="floatleft w-100"> 
							        <button class="font-12 background-green black font-bold p-2 w-100 floatright tc  cursor-pointer"  (click)="save_valid_for_join()">SAVE DETAILS</button>
							    </li>
							    <li  class="floatleft w-100"> 
							        <button class="background-transparent color-black border-none"  (click)="logout()"><i class="fas fa-arrow-left"></i> Go Back</button> 
							    </li>
							</ul>
			            </div>
			        </div>
			    </div> 
			</div>
        </div>
    </div>
</div> 

