<section class="body-section-home">     
<div class="body-section-home-inner">
<app-left-side></app-left-side>
<div class="rightBox">
<div class="rightBox-inner db">						
	<div class="flex-wth">
		<app-header></app-header>
		<section  class="slid_tabs mt-5 mb-5 pb-3"> 
			
		  <div  class="col-sm-12 commonPages"> 
							<div class="row me11_static_mainHeader">
								<div class="col-lg-12 col-md-12 col-sm-12 col-12 static_detailsmain"> 
									<h5 class="w-100">Community Submissions</h5>
									<p>
										Welcome to our submissions area where we list the best articles submitted by member of our community. Want to submit your own article for consideration?<span class="tagline"> Head over to our submission form now.</span>
									</p>
									<h5 class="w-100">Submit Your Article</h5>
									<p>
										If you’ve written an article and would like to submit it to MyExpert11 for consideration please enter below. We welcome a broad range of Fantasy cricket articles, from tactical analysis of teams and matches, scouting reports on players and even updates on our blog. Please try to keep the word count to under 3,000 and feel free to include any relevant links. Also could you ensure that you include a first and last name at first mention of any player in your article, just surname is fine for subsequent mentions.
									</p>
									<p>
										We will endeavor to view your article as soon as possible but cannot guarantee that your submission will be published.
									</p>
									<p>
										<strong>
											Please Note – where possible, please submit your articles by cutting and pasting from a plain text editor rather than Microsoft Word as the latter can add unseen formatting that will mean that you may falsely hit the word count limit.
										</strong>
									</p>

									<p>
										Please submit your article to: <a href="mailto:blog@myexpert11.com">blog@myexpert11.com</a>
									</p>
									<!-- <p> -->
										<!-- Title, Body, category – community, players, statistics, teams, contest. -->
									<!-- </p> -->
								</div>
							</div>
			</div>
		</section>
	</div>
</div>
		
		<app-footer></app-footer>
		
	</div>
</div>
</section>